.game-area {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.team-side {
  width: 40%;
}

.home-team {
  text-align: left;
}

.away-team {
  text-align: right;
}

.team-side h4 {
  color: #333;
  margin-bottom: 10px;
}

.team-side ul {
  list-style-type: none;
  padding: 0;
}

.team-side li {
  padding: 5px;
  background-color: #f4f4f4;
  margin: 5px 0;
  border-radius: 5px;
}

.team-side p {
  margin: 0;
}
