<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      BasketBall LiveScore
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/teams/create">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/players/create">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/matches/create">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/matches_list/create">Play Match</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLink="/login">Logout</a>
        </li>
      </ul>
      <div class="navbar-text ms-auto">
        Hello, {{ userEmail || 'Guest' }}
      </div>
    </div>
  </div>
</nav>
